{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Trivia Channel</title>
    <link rel="icon" type="image/x-icon" href="{% static "img/栗子头.ico" %}">
</head>
<body class="body" style="padding-top:65px;">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="topnav">
          <a class="active">Trivia Channel</a>
          <a href="/">Home</a>
          <a href="register">Register</a>
          <a href="#about">Login</a>
        </div>
    </div>
</nav>
<div class="container" style="margin-bottom:50px;">
    {% block main_content %}{% endblock %}
</div>
</body>
</html>