{% extends "base.html" %}

{% block main_content %}
<div class="user_card">
<form action="" method="post" id="form"><br>
    {% csrf_token %}
    {% for question in questions %}
        <div id='{{ question.index }}'>
            <label style="color:white">{{ question.question }}</label><br><br>
            <input type="text" name='{{ question.index }}' placeholder="Type your answer here"><br>
        </div>
    {% endfor %}
    <br>
    <button type="button" onclick="clicked()">Next</button>
    <input type="submit" value="Submit All" />
</form>
</div>

<script>
        var timer;
        var a ='{{ length }}';
        for (var i = 0; i < a; i++)
            document.getElementById(i.toString()).style.display='none';
        var index = 0;
        var x;
        clearInterval(x);
        document.getElementById(index.toString()).style.display='block';
        index ++;
        x = setInterval(display, 15000);

        function display(){
            document.getElementById(index.toString()).style.display='block';
            if (index>0){
                document.getElementById((index-1).toString()).style.display='none';
            }
            if (index < a){
                index ++;
            }
            else{
                clearInterval(x);
            }

        }
        function clicked(){
            clearInterval(x);
            document.getElementById((index-1).toString()).style.display='none';
            document.getElementById(index.toString()).style.display='block';
            if (index < a-1){
                index ++;
            }
            x = setInterval(display, 15000);
        }

</script>

{% endblock %}